<div layout="column" layout-align="start none" layout-fill>

	<form name="userForm" ng-submit="crea()" novalidate>
		<md-content layout="row" layout-align="space-between center">
			<md-input-container>
				<label>Title</label>
				<input ng-model="nuovo.titolo" required>
			</md-input-container>
			<md-input-container>
				<label>Descrizione</label>
				<input ng-model="nuovo.descrizione" required>
			</md-input-container>
			<md-input-container>
				<label>Data</label>
				<md-datepicker ng-model="nuovo.data" required></md-datepicker>
			</md-input-container>
			<md-button type="submit" class="md-fab" aria-label="Eat cake">
				<md-icon><i class="material-icons">plus_one</i></md-icon>
			</md-button>
		</md-content>
	</form>


	<md-list>
		<md-subheader class="md-no-sticky">Lista dei todos</md-subheader>
		<md-list-item class="md-3-line" ng-repeat="todo in lista | orderBy:'_id':true" ng-click="elimina(todo._id)">
			<div class="md-list-item-text" layout="row" layout-align="space-between center">
				<div layout="column">
					<h2>{{ todo.titolo |uppercase }}</h2>
					<h4>{{ todo.descrizione | lowercase }}</h4>
					<md-checkbox ng-model="todo.fatto" aria-label="Checkbox" ng-change="update(todo._id,todo.fatto)">
						Fatto
					</md-checkbox>
				</div>
				<md-datepicker ng-model="todo.data"></md-datepicker>
			</div>
			<md-divider></md-divider>
		</md-list-item>
	</md-list>

	<button style="position:fixed" class="md-fab md-fab-bottom-right md-button md-ink-ripple" type="button" aria-label="Open"
	    aria-hidden="false" ng-click="showPrompt($event)">
        <md-tooltip md-direction="top" md-visible="tooltipVisible">Aggiungi ToDo</md-tooltip>
		<md-icon><i class="material-icons">plus_one</i></md-icon>
      <div class="md-ripple-container"></div>
</button>

	<div style="visibility: hidden">
		<div class="md-dialog-container" id="myDialog">
			<md-dialog layout-padding>
				<h2>Pre-Rendered Dialog</h2>
				<p>
					This is a pre-rendered dialog, which means that <code>$mdDialog</code> doesn't compile its template on each opening.
					<br/><br/> The Dialog Element is a static element in the DOM, which is just visually hidden.<br/> Once the dialog opens,
					we just fetch the element from the DOM into our dialog and upon close we restore the element back into its old DOM position.
				</p>
			</md-dialog>
		</div>
	</div>

</div>